<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            
        <script src="build/vendor.bundle.js"></script>
        <script src="build/app.bundle.js"></script>
    <body>

        <div data-ng-app="ayago-profile">
            <div class="banner">Welcome to Adrian's Profile</div>
            <div>
                <div>Please enter your name:</div>
                <div><input data-ng-model="hiringManager" type="text"/></div>
            </div>
            <div data-ng-if="hiringManager">
                <div>You may now check my profile</div>  
                <div><button>Proceed</button></div>
            </div>
        </div>

        <div data-ng-view></div>

    </body>
</html>